<div class="container">
  <div class="head">
    <div class="hair"></div>
    <div class="ears"></div>
    <div class="earholes"></div>
    <div class="sideburns"></div>
    <div class="eyebrows"></div>
    <div class="glasses"></div>
    <div class="eyes"></div>
    <div class="nose"></div>
    <div class="beard"></div>
    <div class="mouth"></div>
    <div class="chin"></div>
  </div>
  <div class="copy">
    <h1>{{{ title }}}</h1>
    <h3>{{{ description }}}</h3>
    {{#each copy}}
    <p>{{{ this }}}</p>
    {{/each}}
    <h4>A few projects I've thrown together:</h4>
    <ul class="links">
      {{#each links}}
      <li><a href="{{ display }}" target="_blank">{{ title }}</a> <a href="{{ source }}" target="_blank"><small>Source</small></a>
      {{/each}}
    </ul>
  </div>
</div>
