<section id="projects" class="projects">
  <div class="projects--container">
    <h2>{{{ title }}}</h2>
    <p class="projects--subhead">{{{ description }}}</p>
    {{#each project}}
    <div class="projects--item">
      <a class="projects--title" href="{{ link }}">{{{ title }}}</a>
      <p>{{{ description }}}</p>
    </div>
    {{/each}}
  </div>
</section>
